.mtb_echart_box {
    width: 100%;
    height: 390px;
    display: flex;
}

.mtb_echart_box>div {
    width: 50%;
    height: 100%;
}

.mtb_table {
    height: 256px;
}

.mtb_table_box{
    height:206px;
}