#poe_box .poe_echart_1{
    width:100%;
    height:180px;
}
#poe_box .poe_echart_2{
    width:100%;
    height:200px;
    
}

.poe_echart_1_box{
    height:100%;
    margin-top:-41px;
}
.poe_echart_2_box{
    height:100%;
    margin-top:-41px;
}