.mtl_title{
    width:100%;
    height:32px;
    background:url(../../../../Assets/image/shipping_pic/second_title.png) ;
    color:#fff;
    line-height:32px;
    padding:0 15px;
    position:relative;
}
.mtl_close{
    position:absolute;
    top:-2px;
    right:5px;
    cursor: pointer;
    font-size:20px;
}