.lasi_box{
    width:100px;
    height:24px;
    float:right;
    margin-right:50px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:12px;
    cursor: pointer;
}
.lasi_box>span:hover{
    text-decoration: underline;
}