#exportAndIn_box {
    margin-top: 10px;
    width: 100%;
    margin-bottom:10px;
}

.exportAndin_content {
    width: 100%;
    border: 1px solid #2adfff;
    border-top: none;
}

.cfiae_box {
    width: 100%;
    height: 608px;
}

.cfiae_export,
.cfiae_import {
    width: 100%;
    height: 304px;
    display: flex;
}

.cfiae_export {
    border-bottom: 1px solid #2adfff;
}

.cfiae_export>div,
.cfiae_import>div {
    width: 50%;
    height: 100%;
}

.ctfiae_box{
    width:100%;
}