#TemporaryPortGoods_box {
    width: 100%;
    margin-top: 10px;
}

.TemporaryPortGoods_content {
    width: 100%;
    border: 1px solid #2adfff;
    border-top: none;
}

.tpg_table_box {
    height: 245px;
}

.tpg_chart_box {
    height: 536px;
}

.tpg_table_box_box {
    height: 182px;
}

.tpg_table_box_box .table{      
    height:205px;
}