#detail_box{
    width:100%;
}

.port_dis_box{
    padding:10px 0;
}
.berth_class_box{
    padding:10px 0;
}
.port_flow_box{
    padding-bottom:10px;
}
.service_sta_box{
    padding-bottom:10px;
}
.berth_class_echart{
    height:255px;
}
.port_flow_echart{
    height:503px;
    border:1px solid #1abceb;
}
.service_sta_echart{
    height:391px;
    border:1px solid #1abceb;
}
.service_sta_echart.his{
    height:1173px;
}
.service_sta_echart>div{
    height:33.333333%;
}