#contentleft{
    height:calc(100% - 15px);
    width:  79px;
    position:absolute;
    left:0;
    top:15px;
    background:url("../../../Assets/image/shipping_pic/left_bottom.png") no-repeat;
    background-size: 100% 100%;
    z-index:100;
    padding-left:1px;

}
#contentleft>div:nth-child(2n-1){
    cursor:pointer;
}


.tucenglayer{
    font-size:15px;
    height:15px;
    width:60px;
    color:white;
    display:inline-block;
    margin-top:48px;
    margin-left:10px; 
}
.bottomline{
background:url("../../../Assets/image/shipping_pic/single-line.png");
height:2px;
width:100%;
background-size: 100% 100%;

}


#datalayer{

    height:82px;
    width:100%;
    background:url("../../../Assets/image/shipping_pic/3box.png") no-repeat;
    background-position-x: 25px;
    background-position-y: 20px;
    cursor: pointer;
    }

    #luxsearch{

        height:82px;
        width:100%;
        background:url("../../../Assets/image/shipping_pic/foundworld.png") no-repeat;
        background-position-x: 25px;
        background-position-y: 20px;
        cursor: pointer;
        }
    
        #shippinglayer{

            height:82px;
            width:100%;
            background:url("../../../Assets/image/shipping_pic/world.png") no-repeat;
            background-position-x: 25px;
            background-position-y: 20px;
            cursor: pointer;
            }
    
            #oceanweather{

                height:82px;
                width:100%;
                background:url("../../../Assets/image/shipping_pic/seatemp.png") no-repeat;
                background-position-x: 25px;
                background-position-y: 20px;
                cursor: pointer;
                }
    
                #boatoverflow{

                    height:82px;
                    width:100%;
                    background:url("../../../Assets/image/shipping_pic/aim.png") no-repeat;
                    background-position-x: 25px;
                    background-position-y: 20px;
                    cursor: pointer;
                    }
    
                    #tailreview{

                        height:82px;
                        width:100%;
                        background:url("../../../Assets/image/shipping_pic/location.png") no-repeat;
                        background-position-x: 25px;
                        background-position-y: 20px;
                        cursor: pointer;
                        }
    
                        #predictrecommond{

                            height:82px;
                            width:100%;
                            background:url("../../../Assets/image/shipping_pic/up.png") no-repeat;
                            background-position-x: 25px;
                            background-position-y: 20px;
                            cursor: pointer;
                            }
                            
    