.select_box{
    display:inline-block;
    width:125px;
    height:24px;
    margin-left:6px;
    position: relative;
}
.select_box select{
    display:block;
    width:100%;
    height:100%;
    border:none;
    border-radius: 3px;
    background-color:transparent;
    border:1px solid #fff;
    padding-left:4px;
    color:#63b0e9;
    line-height:23px;
    font-size:12px;
    position:relative;
    z-index:2;
    appearance:none;
}
.select_down_icon{
    width:22px;
    height:22px;
    display:inline-block;
    background:url(../../../../../../Assets/image/shipping_pic/menu_down_icon.png) no-repeat;
    background-size:100% 100%;
    position:absolute;
    top:1px;
    right:1px;
    z-index:1;
}
