.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    /*border-radius:   10px;*/
  /*  border: 1px solid #cccccc;*/
    bottom: 24px;
    left: -49px;
    min-width: 250px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: #0d4598;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
.ol-popup .content_title{
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 19px;
    background: linear-gradient(to bottom,#37b3f9,#0792e7);
    border-bottom:  1px solid #3cdde7;
}
.ol-popup .content_content{
    padding: 5px 20px;
 }
.ol-popup .content_bottom{
    font-size: 15px;
    background: linear-gradient(to bottom,#0d60c6,#0c4795);
}
.content_content>div{
    height:25px;
    line-height: 25px;
}
.ol-popup .titleText{
    color: #71e1ff;
}
.ol-popup .contectText{
    color: white;
}
.ol-popup .content_buttom{
    display: flex;
    justify-content: space-around;
    color:#183b59;
    margin: 20px 0px;
}
.content_buttom>div{
    width:78px;
    height:30px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to bottom,#fef5f6,#a5bbc9);
}
/****实线**/
.content_content_line{
    width: 100%;
    height:1px;
    line-height: 1px;
    border-bottom:  1px solid #3cdde7;
}
/**********虚线*********/
.content_content_emptyLine{
    width: 100%;
    height:1px;
    line-height: 1px;
    border-bottom:  1px dashed  #3cdde7;
}
.content_echarts_title{
    padding: 5px 20px;
    width:320px;
    display: flex;
    color:white;
    justify-content: space-between;
}
.content_echarts_title_a{
    font-size: 13px;
    color: #71e1ff;
}
.content_echarts{
    height:270px;
    width:320px;
    padding: 5px 20px;
}


/*****泊位******/
.content_content_heng{
    width: 340px;
    height: 60px;
    line-height: 25px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-around;
}
.content_botton_link{
    padding: 0px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
}
.content_botton_link_a{
    font-size: 13px;
    color: #71e1ff;
}
.content_content_heng_title{
    color: #71e1ff;
}
.content_content_heng_text{
    color:white;
}
/*******************船舶*******************/
.content_ship_tab{
    display: flex;
    justify-content: space-around;
    width: 470px;
    height: 28px;
    line-height: 28px;
    background-color: #004197;
}
.content_ship_tab_active{
    background-color: #065ebf;
}
.content_ship_tab>div{
    width:25%;
    text-align: center;
    color: #71e1ff;
}
.content_ship_tab_content>div{
    padding: 10px 30px 5px 30px;
    display: none;
    position:relative;
}
.content_ship_tab_content .content_ship_tab_content_active{
    display:flex;
    flex-wrap: wrap;
}
.shipTwoMessageDiv{
    display: flex;
    justify-content: space-around;
}
/****
设置基本信息内部div
 */
#content_ship_tab_content_jiben>div{
    width:50%;
}
#content_ship_tab_content_jiben .ship_content_line{
    width: 470px;
    margin-left: -30px;
    height:1px;
    line-height: 1px;
    border-bottom:  1px solid #3cdde7;
    position:absolute;
    bottom:30px;
}
#content_ship_tab_content_jiben .ship_content_button{
    align-items: flex-end;
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

#popup{
    z-index:10000;
}
