#ps_box{
    width:100%;
    height:auto;
}
.ps_tab_box{
    width:100%;
    display:flex;

}
.ps_tab_box>div{
    width:25%;
    background:#fff;
    border:1px solid #ddd;
    background-size:100% 100%;
    height:24px;
    font-size:14px;
    line-height:24px;
    color:#3d679e;
    text-align:center;
    cursor: pointer;
}
.ps_tab_box>div.active{
    border:none;
    background:url(../../../../../../Assets/image/shipping_pic/big_button.png) no-repeat;
    background-size:100% 100%;
}
.ps_con_select{
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ps_con_select>div{
    margin-top:10px;
}
.ps_con_box{
    position: absolute;
    background-color: #0048a6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
}
.ps_con_box.active{
    visibility: visible;
}
.ps_con_box>.common_btn{
    width:50%;
    margin-top:10px;
    margin-bottom:20px;
}
