#piae_box{
    margin-bottom:10px;
}
.piaec_cargo{
    width:100%;
    height:608px;
    border:1px solid #1abceb;
}
.piaec_cargo>div{
    height:50%;
    width:100%;
}
.piaec_cargo_import{
    border-bottom:1px solid #1abceb;
}
.piaec_country td{
    border:1px solid #fff;
}