.header_box{
    width:100%;
    height:49px;
    display:flex;
    background:url("../../../Assets/image/shipping_pic/banner1.png");
    justify-content: space-between;
    /* align-items: center; */
    position:relative;
    z-index:1000;
}






/* .header_box{
    background:url("../../Assets/image/shipping_pic/banner1.png");
    height: 49px;
    width: 100%;
    z-index: 1;
} */
.header_right{
    background:url("../../../Assets/image/shipping_pic/banner2.png") no-repeat;
    height: 49px;
    width: 1157px;
    z-index:9;
    /* z-index:10;
    position: absolute;
    left: 630px;
    top: 0px; */
}
.header_left{
    background:url("../../../Assets/image/shipping_pic/banner_logo.png") no-repeat;
    height: 66px;
    width: 412px;
    display:flex;
    align-items: center;
    position: relative;
    z-index:10;
    /* z-index: 10;
    position: absolute;
    left: 0px;
    top: 0px; */
}
.ship_logo{
    display:inline-block;
    background:url("../../../Assets/image/shipping_pic/title1.png") no-repeat;
    height: 48px;
    width: 368px;
    margin-left:40px;
    /* z-index: 11;
    position: absolute;
    left: 24px;
    top: 12px; */
}

