.beb_box{
    width:389px;
}
.ett_box{
    height:41px;
    position:relative;
}
.echart_border{
    border-bottom:1px solid #1abceb;
    border-left:1px solid #1abceb;
    border-right:1px solid #1abceb;
}